body
   {
       background-color:gainsboro;
   }

p
   {3          
   	   font-family: 'Great Vibes', cursive;
   	   font-size: 20px;
   	   color:black;
   }

h1  
   {
   	   font-family: 'Patrick Hand SC' , cursive;
   	   font-size: 40px;
   	   color:black;
   }

h2 
   {
   	   font-family: 'gstatic', cursive;
   	   font-size: 20px;
   	   color:black;
   }


h3 
   {
   	    font-family: 'Great Vibes' , cursive;
   	    font-size: 20px;
   	    color: black;
   }

h4
   {
   	   font-family: 'Patrick Hand SC' , cursive;
   	   font-size: 20px;
   	   color: black;
   }
	}

a
	{
		color: darkred;	
		padding: 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius:50px;
	}

button
	{
		background-color: maroon;
	    	color: whitesmoke;
	    	padding: 15px;
	    	text-align: center;
	    	text-decoration: none;
	    	display: inline-block;
	    	border-radius: 25px;
	<style>
			a:link
			{
				color: #c94c4c;	
				padding: 5px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				border-radius:50px;
			}

			a:visited
			{
			color: darkred;	
			padding: 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius:50px;
			}

			a:hover
			{
			color: yellow;	
			padding: 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius:50px;
			}

			a:active
			{
			color: red;	
			padding: 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius:50px;
			}

		</style>
